Repository RustamAxm/automation_basic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-json, check-yaml, check-toml, check-xml, linter, formatter

check-json:
  name: json check
  entry: uv run check-json
  language: system

check-yaml:
  name: yaml check
  entry: uv run check-yaml
  language: system

check-toml:
  name: toml check
  entry: uv run check-toml
  language: system

check-xml:
  name: xml check
  entry: uv run check-xml
  language: system

linter:
  name: Linter check
  entry: uv run poe linter
  language: system
  pass_filenames: false

formatter:
  name: Formatter check
  entry: uv run ruff format
  language: system

add ty feature
  .pre-commit-config.yaml
  pyproject.toml
  src/automation_basics/arduino_like_api/arduino_device.py
  src/automation_basics/common/helpers.py
  src/automation_basics/common/test_common.py
  src/automation_basics/serialize/serialize.py
Due: check-yaml, check-toml, linter, formatter

fix
  src/automation_basics/common/helpers.py
Due: linter, formatter

add dynamic methods generator
  src/automation_basics/gen_methods/__init__.py
  src/automation_basics/gen_methods/gen_methods_main.py
  uv.lock
Due: linter, formatter

add dynamic methods generator
  src/automation_basics/gen_methods/gen_methods_main.py
Due: linter, formatter

add dynamic methods generator
  .pre-commit-config.yaml
Due: check-yaml

add qualnqme
  pyproject.toml
  src/automation_basics/gen_methods/gen_methods_main.py
  uv.lock
Due: check-toml, linter, formatter

fix test run
  .pre-commit-config.yaml
  pyproject.toml
  src/automation_basics/test_demo/test_demo.py
  uv.lock
Due: check-yaml, check-toml, linter, formatter

pub sub zmq
  src/automation_basics/zmq_demo/demo_pub.py
  src/automation_basics/zmq_demo/demo_sub.py
Due: linter, formatter

add click demo
  pyproject.toml
  src/automation_basics/demo_click/__init__.py
  src/automation_basics/demo_click/demo_click.py
  uv.lock
Due: check-toml, linter, formatter

fix docs gen
  docs/source/api/automation_basics.demo_click.rst
  docs/source/api/automation_basics.gen_methods.rst
  docs/source/api/automation_basics.rst
  docs/source/api/automation_basics.zmq_demo.rst
  docs/source/conf.py
  src/automation_basics/zmq_demo/demo_pub.py
  src/automation_basics/zmq_demo/demo_sub.py
Due: linter, formatter

add pytest config generator
  docs/source/tutorials/pytest.rst
  src/automation_basics/test_gen_from_config/__init__.py
  src/automation_basics/test_gen_from_config/config.yaml
  src/automation_basics/test_gen_from_config/conftest.py
  src/automation_basics/test_gen_from_config/test_fct_smoke.py
Due: check-yaml, linter, formatter

Path conditions:
  check-json: any of: .json
  check-yaml: any of: .yaml
  check-toml: any of: .toml
  check-xml: any of: .xml
  linter: any of: \.py$
  formatter: any of: \.py$
